<a href="https://colab.research.google.com/github/craigdipuka/python---practice/blob/main/Exercise_2_Numbers_and_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise: Numbers in python

    You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
    You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
    You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)
    Print binary representation of number 17

In [ ]:
import math


x = 92*48.8
area  = round(x,2)
print(area)

4489.6

In [ ]:
one_package = 1.49
all_packages = one_package * 9
change = 20 - all_packages
print(change)

6.59

In [ ]:
length = 5.5
cost_per_square = 500
area = length**2
totalCost = area * cost_per_square
print(totalCost)

15125.0

In [ ]:
number = 17
binary_representation = bin(number)
print(binary_representation)

0b10001

Exercise: String in Python

    Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
    Create a variable to store the string "Earth revolves around the sun"
        Print "revolves" using slice operator
        Print "sun" using negative index
    Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
    I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [ ]:
country = "Poland "
city = "Warsaw "
street = "Pulawska"

address = country + city + street
address1 = f"{country}{city}{street}"
print(address)
print(address1)

Poland Warsaw Pulawska
Poland Warsaw Pulawska

In [ ]:
statement = "earth revoles around the sun"
word = statement.split()
print(word[1])

revoles