<a href="https://colab.research.google.com/github/craigdipuka/python---practice/blob/main/Exercise_5_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise: Python Lists

    Let us say your expense for every month are listed below,
        January - 2200
        February - 2350
        March - 2600
        April - 2130
        May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

    You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In Feb, how many dollars you spent extra compare to January?

In [4]:
exp = [2200, 2350 , 2600, 2130, 2190]
febJan_exp = exp[2] - exp[1]
print(febJan_exp)

250

Find out your total expense in first quarter (first three months) of the year.

In [5]:
quarter_expenses = exp[1] + exp[2] +exp[3]
print(quarter_expenses)

7080

Find out if you spent exactly 2000 dollars in any month

In [7]:
element = 2000

if element in exp:
  print("you spent $2000 in a specific month")
else:
  print("there is no month you spent $2000 specifically")

there is no month you spent $2000 specifically

June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [8]:
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [9]:
exp[3] = exp[3]-200
print(exp)

[2200, 2350, 2600, 1930, 2190, 1980]

In [12]:
heros=['spider man','thor','hulk','iron man','captain america']

Length of the list

In [14]:
length = len(heros)
print(length)

5

Add 'black panther' at the end of this list

In [15]:
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'

In [16]:
heros.pop()
extras = ["hulk" , "black panther"]
heros.extend(extras)
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'hulk', 'black panther']

Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

In [ ]:
unwanted = ["thor", "hulk"]